html {
    box-sizing: border-box;
    text-align: center;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    grid-template-rows: 100px 1fr 1em;
    position: relative;
    height: 100vh;
    width: 100vw;
}

