.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

form input {
    border-radius: 5px;
    border: solid 1px #0056b3;
    padding: 2px;
    width: 100%;
    margin: 2px;
}

  .customFileInput {
    width: 100%;
    margin: 2px;
    display: inline-block;
    padding: 8px 12px;
    background-color: rgba(100, 108, 255);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .customFileInput:hover {
    background-color: #0056b3;
  }
  
  .fileInput {
    display: none; /* Hide the actual file input */
  }